@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$primary-color : #00C853;
$primary-color-light: #FFC107;
$terciary-color : #00d8bb;
$terciary-color-dark : darken($terciary-color, 20%);

@import './tulzio_template';

body * {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.text-operation {
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    border-color: #a0a0a0;
    background-color: #f2f2f2;
    border-width: 1px;
    margin-bottom: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.expanded-icon:before {
    content: "\f0fe";
}

.expanded .expanded-icon:before{
    content: "\f147"
}

.text-operation-title{
    box-sizing: border-box;
    padding: 0 7.5px;
    color: $terciary-color-dark;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-operation-dragarea {
    background-color: $terciary-color;
    line-height: 1.75em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: move;
}

.text-operation-dragarea > *[class*="icon"]{
    background-color: $terciary-color;
    line-height: 1.75em;
    width: 1.75em;
    text-align: center;
    color: $terciary-color-dark;
    cursor: pointer;
}
.text-operation-controls:not(:empty){
    padding: 5px;
}

.text-operation-controls{
    display: none;
}

.expanded .text-operation-controls{
    display: block;
}

.disabled .text-operation-controls{
    display: none;
}

.text-input, .text-output {
    width: 100%;
    box-sizing: border-box;
    min-height: 16em;
    resize: vertical;
}

.drop-zone{
    height: 20px;
    left: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 55%;
    z-index: -10;
}

.dragging .drop-zone {
    z-index: 10;
}

.drop-over{
    top:-5%;
}

.drop-below{
    top:50%;
}

.disabled {
    opacity: 0.5;
}

.disabled .enabled-icon:before{
    content: "\f070"
}

.disabled .text-operation-title{
    text-decoration: line-through;
}

.process-btn {
    background-color: $primary-color-light;
    font-size: 1em;
    line-height: 1.75em;
}


.process-btn:active{
    background-color: lighten($primary-color-light, 5%);
}

.control {
    width: 100%;
    color : rgba(0, 0, 0, 0.62);
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 10px;
    border: none;
}

.control-bar {
    line-height: 1.75em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.tool-box-item {
    background-color: #f0f0f0;
    padding: 0 10px;
    
}

.text-operation-dragarea > .info-icon {
    background-color: #FFEB3B;
    color: #F57F17;
}

.widget {
    padding: 10px;
}



@import './retro';

.info-sidebar .widget-container{

    @include retro
}

.output-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    button {
        background-color: $primary-color-light;
        width: 33%;
        text-align: center;

        &:active {
            background-color: lighten($primary-color-light, 5%)
        }
    }
    
}

.tool-box-group-title {
    padding-bottom: 5px;
    border-bottom: 2px #fafafa groove;
    margin-bottom: 5px;
    cursor: pointer;
}



.tool-box-group-items {
    margin-bottom: 10px;
}

.group-collapsed-indicator{
    margin-right: 5px;
}

.tool-box-group .group-collapsed-indicator:before{
    color: $primary-color;
    content: "\f147"
}
.tool-box-group.collapsed{
    .group-collapsed-indicator:before{
        content: "\f0fe";
    }

    .tool-box-group-items {
        display: none;
    }
}


