@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #00C853; }

h1 {
  margin: 0; }

.bar {
  min-height: 50px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #00C853; }
  .bar .bar-button {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.13); }

.widget-container {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 40px; }
  .widget-container .widget {
    width: auto;
    box-sizing: border-box;
    margin: 5px; }
    .widget-container .widget .widget-title {
      color: #00C853; }

.vertical-bar {
  display: flex;
  flex-flow: column;
  height: 100vh; }

.info-toggle {
  font-size: 1.4em; }

.menu-toggle,
.info-toggle {
  cursor: pointer; }

.controls-sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 273.2px;
  transition: transform 200ms ease-in-out;
  will-change: transform; }
  .controls-sidebar > .mini-bar > .tulz-logo {
    width: 100px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .controls-sidebar > .mini-bar > .tulz-logo > img {
      width: 100%;
      -webkit-filter: hue-rotate(180deg);
      filter: hue-rotate(318deg); }
  .controls-sidebar > .mini-bar > .menu-toggle {
    display: none; }

.info-sidebar {
  background-color: #f5f5f5;
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  transition: transform 200ms ease-in-out;
  will-change: transform; }
  .info-sidebar .info-toggle {
    display: none; }

.app-container {
  background-color: #e4e4e4;
  margin-left: 273.2px;
  margin-right: 30vw;
  transition: margin 200ms ease-in-out; }
  .app-container > .top-bar > .menu-toggle {
    display: none; }
  .app-container > .top-bar > .app-name {
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    margin: 0;
    font-size: 1em;
    position: absolute;
    margin-left: -150px;
    z-index: 10; }
    .app-container > .top-bar > .app-name * {
      color: white; }
  .app-container > .top-bar > .info-toggle {
    margin-left: auto;
    display: none; }

body:after {
  z-index: 10; }

.view-default-info {
  padding-left: 10px; }

@media (max-width: 1200px) {
  .controls-sidebar {
    transform: translate3d(-100%, 0, 0); }
    .controls-sidebar > .mini-bar {
      width: 273.2px;
      justify-content: space-between; }
      .controls-sidebar > .mini-bar > .tulz-logo {
        display: none; }
  body.controls_sidebar_opened {
    margin-left: 273.2px; }
    body.controls_sidebar_opened .controls-sidebar {
      transform: none;
      z-index: 999; }
      body.controls_sidebar_opened .controls-sidebar > .mini-bar > .tulz-logo {
        display: flex; }
      body.controls_sidebar_opened .controls-sidebar > .mini-bar > .menu-toggle {
        display: initial; }
    body.controls_sidebar_opened .app-container .menu-toggle {
      display: none; }
  .app-container {
    margin-left: 0px; }
    .app-container .top-bar > .app-name {
      margin-left: 70px; }
    .app-container > .top-bar > .menu-toggle {
      display: initial; } }

/* */
.fake-widget {
  height: 400px; }

@media (max-width: 900px) {
  .info-sidebar {
    transform: translate3d(100%, 0, 0); }
  body.info_sidebar_opened .info-sidebar {
    width: 40vw;
    transform: none;
    z-index: 999; }
    body.info_sidebar_opened .info-sidebar .info-toggle {
      display: initial; }
  body.info_sidebar_opened .app-container > .top-bar > .info-toggle {
    display: none; }
  .app-container {
    margin-right: 0; }
    .app-container > .top-bar > .info-toggle {
      display: initial; } }

@media (min-width: 640px) and (max-width: 900px) {
  body.info_sidebar_opened .app-container {
    margin-right: 40vw; } }

@media (max-width: 640px) {
  body.info_sidebar_opened .info-sidebar {
    width: 60%; }
  body.controls_sidebar_opened {
    margin-left: 0; }
  body[class$="sidebar_opened"]:after {
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.49);
    top: 0;
    left: 0; } }

@media (max-width: 540px) {
  body.info_sidebar_opened .info-sidebar {
    width: 70%; } }

@media (max-width: 440px) {
  body.info_sidebar_opened .info-sidebar {
    width: 80%; } }

@media (max-width: 340px) {
  body.info_sidebar_opened .info-sidebar {
    width: 90%; } }

body * {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none; }

.text-operation {
  position: relative;
  box-sizing: border-box;
  border-style: solid;
  border-color: #a0a0a0;
  background-color: #f2f2f2;
  border-width: 1px;
  margin-bottom: 5px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.expanded-icon:before {
  content: "\F0FE"; }

.expanded .expanded-icon:before {
  content: "\F147"; }

.text-operation-title {
  box-sizing: border-box;
  padding: 0 7.5px;
  color: #007263;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.text-operation-dragarea {
  background-color: #00d8bb;
  line-height: 1.75em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: move; }

.text-operation-dragarea > *[class*="icon"] {
  background-color: #00d8bb;
  line-height: 1.75em;
  width: 1.75em;
  text-align: center;
  color: #007263;
  cursor: pointer; }

.text-operation-controls:not(:empty) {
  padding: 5px; }

.text-operation-controls {
  display: none; }

.expanded .text-operation-controls {
  display: block; }

.disabled .text-operation-controls {
  display: none; }

.text-input, .text-output {
  width: 100%;
  box-sizing: border-box;
  min-height: 16em;
  resize: vertical; }

.drop-zone {
  height: 20px;
  left: 0;
  opacity: 0;
  width: 100%;
  position: absolute;
  height: 55%;
  z-index: -10; }

.dragging .drop-zone {
  z-index: 10; }

.drop-over {
  top: -5%; }

.drop-below {
  top: 50%; }

.disabled {
  opacity: 0.5; }

.disabled .enabled-icon:before {
  content: "\F070"; }

.disabled .text-operation-title {
  text-decoration: line-through; }

.process-btn {
  background-color: #FFC107;
  font-size: 1em;
  line-height: 1.75em; }

.process-btn:active {
  background-color: #ffc721; }

.control {
  width: 100%;
  color: rgba(0, 0, 0, 0.62);
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 10px;
  border: none; }

.control-bar {
  line-height: 1.75em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.tool-box-item {
  background-color: #f0f0f0;
  padding: 0 10px; }

.text-operation-dragarea > .info-icon {
  background-color: #FFEB3B;
  color: #F57F17; }

.widget {
  padding: 10px; }

.info-sidebar .widget-container {
  background-color: white;
  color: #505050; }
  .info-sidebar .widget-container h1, .info-sidebar .widget-container h2, .info-sidebar .widget-container h3, .info-sidebar .widget-container h4, .info-sidebar .widget-container h5 {
    color: #00C853; }
  .info-sidebar .widget-container code, .info-sidebar .widget-container blockquote {
    white-space: pre-wrap; }
  .info-sidebar .widget-container code {
    padding: 0 2px;
    background-color: #FFC107; }
  .info-sidebar .widget-container pre code {
    white-space: pre-wrap;
    padding: 10px;
    display: block; }
  .info-sidebar .widget-container blockquote {
    background-color: #FFF59D;
    padding: 5px 10px 10px 25px;
    margin: 0; }
  .info-sidebar .widget-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .info-sidebar .widget-container a {
    color: #037b6d; }

.output-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .output-buttons button {
    background-color: #FFC107;
    width: 33%;
    text-align: center; }
    .output-buttons button:active {
      background-color: #ffc721; }

.tool-box-group-title {
  padding-bottom: 5px;
  border-bottom: 2px #fafafa groove;
  margin-bottom: 5px;
  cursor: pointer; }

.tool-box-group-items {
  margin-bottom: 10px; }

.group-collapsed-indicator {
  margin-right: 5px; }

.tool-box-group .group-collapsed-indicator:before {
  color: #00C853;
  content: "\F147"; }

.tool-box-group.collapsed .group-collapsed-indicator:before {
  content: "\F0FE"; }

.tool-box-group.collapsed .tool-box-group-items {
  display: none; }
