<h1 id="find-replace">Find &amp; Replace</h1>
<p>Example:
We want to put parentheses around any multiplication or division</p>
<pre><code>    input -&gt; 1 + 2 * 41 - 10 / 5 = x / (10 + 10)

    pattern : (\w+\s*[*/]\s*\w+|\w+\s*[*/]\s*\(.+\)|\(.+\)\s*[*/]\s*\w+)
    replacement : ($1)

    output -&gt; 1 + (2 *41) - (10 / 5) =(x / (10 + 10))
</code></pre>