<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <div>
        <div class="app-container vertical-bar">
            <div class="top-bar bar">
                <div class="menu-toggle bar-button fa fa-cogs"></div>
                <h1 class="app-name">
                    <a href="/">AIO Text Tools</a>
                    <i class="view-default-info fa fa-info-circle"></i>
                </h1>
                <div class="info-toggle bar-button fa fa-info"></div>
            </div>
            <div class="main-view widget-container">
                <div class="widget"></div>
            </div>
        </div>
        <div class="controls-sidebar vertical-bar">
            <div class="mini-bar bar">
                <a href="https://tulz.io" class="tulz-logo">
                    <img src="" alt="">
                </a>
            </div>
            <div class="widgets-wrapper widget-container">
                <div class="widget">

                </div>
            </div>
        </div>

        <div class="info-sidebar vertical-bar">
            <div class="bar">
                <div class="info-toggle bar-button fa fa-info"></div>
            </div>
            <div class="widget-container">            
            </div>
        </div>
    </div>
  </body>
</html>